<!DOCTYPE html>
<html>

<head>
    <title>增加导航</title>
    <link rel="stylesheet" href="/static/system.css">
</head>

<body>
    <h1>增加导航</h1>
    <form method="POST" enctype="multipart/form-data">

        <div>
            <label class="desc" id="title1" for="title">标题：</label>
            <div>
                <input name="title" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <label class="desc" id="title1" for="url">url：</label>
            <div>
                <input name="url" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <label class="desc" id="title1" for="description">描述：</label>
            <div>
                <input name="description" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <label class="desc" id="title1" for="term">分类：</label>
            <div>
                <input name="term" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <!-- icon -->
        <div>
            <label for="taxonomy">选择类别:</label>
            <select id="taxonomy" name="taxonomy">
                <option value="技术工具">技术工具</option>
                <option value="福利分享">福利分享</option>
                <option value="最新资讯">最新资讯</option>
                <option value="每日资源">每日资源</option>
                <option value="个人网站">个人网站</option>
            </select>
        </div>
        
        <!-- icon -->
        <div>
            <label for="icon">选择图标:</label>
            <select id="icon" name="icon">
                <option value="far fa-folder-open fa-lg">技术工具</option>
                <option value="fas fa-film fa-lg">福利分享</option>
                <option value="fas fa-pencil-alt fa-lg">最新资讯</option>
                <option value="fas fa-flask fa-lg">每日资源</option>
                <option value="far fa-star">个人网站</option>
            </select>
        </div>

        <input type="file" name="logo">

        <div>
            <div>
                <input id="saveForm" name="saveForm" type="submit" value="添加">
            </div>
        </div>

    </form>
</body>

</html>