<!DOCTYPE html>
<html>

<head>
    <title>增加导航</title>
    <link rel="stylesheet" href="/static/system.css">
</head>

<body>
    <h1>增加导航</h1>
    <form method="POST" enctype="multipart/form-data">

        <div>
            <label class="desc" id="title1" for="title">标题：</label>
            <div>
                <input name="title" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <label class="desc" id="title1" for="url">url：</label>
            <div>
                <input name="url" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <label class="desc" id="title1" for="description">描述：</label>
            <div>
                <input name="description" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <label class="desc" id="title1" for="term">分类：</label>
            <div>
                <input name="term" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>


        <div>
            <label class="desc" id="title1" for="taxonomy">类别：</label>
            <div>
                <input name="taxonomy" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <label class="desc" id="title1" for="icon">icon：</label>
            <div>
                <input name="icon" id="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <input type="file" name="logo">

        <div>
            <div>
                <input id="saveForm" name="saveForm" type="submit" value="添加">
            </div>
        </div>

    </form>
</body>

</html>